In [3]:
import networkx as nx

In [4]:
import pandas as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
import numpy as pd

In [7]:
titanic= np.read_csv('~/Desktop/titanic.csv',delimiter=',')

In [8]:
missing=titanic.isnull().sum()

In [9]:
print(missing)

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

In [10]:
missing_in_percent=100*titanic.isnull().sum()/len(titanic)

In [11]:
print(missing_in_percent)

pclass        0.076336
survived      0.076336
name          0.076336
sex           0.076336
age          20.152672
sibsp         0.076336
parch         0.076336
ticket        0.076336
fare          0.152672
cabin        77.480916
embarked      0.229008
boat         62.900763
body         90.763359
home.dest    43.129771
dtype: float64

SyntaxError: invalid syntax (<ipython-input-13-aa906bfe83a1>, line 1)